

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  background-color: rgb(20, 10, 53);
  font-size: 32px;
  background-image: linear-gradient(90deg, crimson, yellow, blue);
  background-size: 500% 600%;
  animation: bgAnimatedGradient 12s infinite linear;



}

@keyframes bgAnimatedGradient {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 20%;
  }

  100% {
      background-position: 0% 85%;
  }
}